.member {
  display: flex;
  background-color: #dbdbdb;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 0.2em;
  font-size: 0.9em;
  height: var(--space-m-l);
  width: var(--space-m-l);
  max-height: var(--space-m-l);
  max-width: var(--space-m-l);
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  color: #111;
  margin: 0 0.2ch;
  overflow: hidden;
  box-shadow: 0 0 0 2px #bfbfbf inset;
}


.member .avatar.avatar-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.member .member-presence-status {
  background-color: #b3b3b3;
  border: 1px solid #fff;
  border-radius: 50%;
  height: var(--space-2xs);
  transform: translateX(var(--space-xs)) translateY(var(--space-xs));
  aspect-ratio: 1/1;
  position: absolute;
  border: 1px solid #fff;
}
.member .member-presence-status.active {
  background: #64c464;
  border-color: #daf1da;
}
.member .member-presence-status.idle {
  background: #e4e467;
  border-color: #f7f7d4;
}
.member .member-presence-status.disconnected {
  background: #bdbdbd;
  border-color: #ededed;
}
.member .member-presence-status.pending {
  background: #e44242;
  border-color: #f1dada;
}
.member .edit-avatar:hover {
  opacity: 0.6;
}
.member .edit-avatar i.fa-pencil {
  color: #fff;
}
.member.add-member {
  display: flex;
  align-items: center;
  justify-content: center;
}
.member.add-member:hover,
.member.add-member.is-active {
  box-shadow: 0 0 0 2px #666 inset;
}
.atMention {
  background: #dbdbdb;
  border-radius: 3px;
  padding: 1px 4px;
  margin: -1px 0;
  display: inline-block;
}
.atMention.me {
  background: #cfdfe8;
}

.mini-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  > .member {
    align-self: center;
  }
}

.board-member-menu {
  padding: 1ch;
}