.card-label:not(.palette-color) {
  border-radius: 0.4ch;
  display: inline-block;
  font-weight: 700;
  font-size: 0.9em;
  display: flex;
  /* prefer not using padding/margin but let outer grids
  position/size labels (see e.g. minicards), otherwise we get
  inconsistencies */
  align-self: stretch;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(--label-height);
  min-width: 4ch;
  border: 0.15ch solid black;
}
.card-label {
  color: black;
}
.card-label:hover {
  color: #fff;
}
.card-label.square, .minicard-label {
  height: 0.75lh;
  aspect-ratio: 1/1;
  outline: 0.15ch solid black;
  border-radius: 0.3ch;
  padding: 0;
}
.card-label.add-label {
  box-shadow: 0 0 0 2px #bfbfbf inset;
  border: initial;
}
.card-label.add-label:hover,
.card-label.add-label.is-active {
  box-shadow: 0 0 0 2px #666 inset;
}
.card-label p {
  margin: 0px;
  --overflow-lines: 1;
}
.card-label-white {
  background-color: #fff;
  color: #000;
}
.card-label-white:hover {
  color: #aaa;
}
.card-label-green {
  background-color: #3cb500;
}
.card-label-green:hover {
  color: #000;
}
.card-label-yellow {
  background-color: #fad900;
  color: #000;
}
.card-label-orange {
  background-color: #ff9f19;
  color: #000;
}
.card-label-red {
  background-color: #eb4646;
}
.card-label-purple {
  background-color: #a632db;
}
.card-label-blue {
  background-color: #0079bf;
}
.card-label-pink {
  background-color: #ff78cb;
  color: #000;
}
.card-label-sky {
  background-color: #00c2e0;
}
.card-label-black {
  background-color: #4d4d4d;
}
.card-label-lime {
  background-color: #51e898;
  color: #000;
}
.card-label-silver {
  background-color: #c0c0c0;
  color: #000;
}
.card-label-peachpuff {
  background-color: #ffdab9;
  color: #000;
}
.card-label-crimson {
  background-color: #dc143c;
}
.card-label-plum {
  background-color: #dda0dd;
  color: #000;
}
.card-label-darkgreen {
  background-color: #006400;
}
.card-label-slateblue {
  background-color: #6a5acd;
}
.card-label-magenta {
  background-color: #f0f;
}
.card-label-gold {
  background-color: #ffd700;
  color: #000;
}
.card-label-navy {
  background-color: #000080;
}
.card-label-gray {
  background-color: #808080;
}
.card-label-saddlebrown {
  background-color: #8b4513;
}
.card-label-paleturquoise {
  background-color: #afeeee;
  color: #000;
}
.card-label-mistyrose {
  background-color: #ffe4e1;
  color: #000;
}
.card-label-indigo {
  background-color: #4b0082;
}
.edit-labels-pop-over {
  display: grid;
  /* i.e. can add new rows in the middle, happen when dragging */
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  padding-block: var(--vspace-l) !important;
  padding-inline: var(--space-xs) !important;
  gap: var(--vspace-s);
  >li {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: 1fr auto;
    gap: var(--space-s);
    align-items: center;
  }
  .card-label-selectable {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: repeat(auto-fit, minmax(2ch, auto));
    gap: var(--space-s);
    padding-inline: var(--space-xs);
    justify-content: stretch;
    .viewer {
      justify-self: start;
    }
    .card-label-selectable-icon {
      justify-self: end;
    }
  }
}
.edit-labels-pop-over .card-label .viewer p {
  margin: 0;
}
.edit-labels-pop-over .shortcut {
  display: inline-block;
}
.card-label-selectable.selected,
.card-label-selectable:hover {
  opacity: 0.8;
}
.active .card-label-selectable,
.active .card-label-selectable:hover {
  margin-right: 0;
}
.card-label-edit-button:hover {
  background: #dbdbdb;
}