template(name="swimlane")
  .swimlane-container
    .swimlane.nodragscroll
      +swimlaneHeader
    unless collapseSwimlane
      .swimlane.js-lists.js-swimlane.dragscroll(id="swimlane-{{_id}}")
        if isMiniScreen
          if currentListIsInThisSwimlane _id
            +list(currentList)
          each lists
            with(this)
              unless currentList
                +miniList(this)
        else
          each lists
            if visible this
              +list(this)
      //- allow resizing in mobile mode
      .swimlane-resize-handle.js-swimlane-resize-handle.nodragscroll

template(name="listsGroup")
  .swimlane.list-group.js-lists.dragscroll
    if isMiniScreen
      each lists
        +miniList(this)
    else
      each lists
        if visible this
          +list(this)
    .swimlane-resize-handle.js-swimlane-resize-handle.nodragscroll

template(name="addListForm")
  unless currentUser.isWorker
    unless currentUser.isCommentOnly
      unless currentUser.isReadOnly
        unless currentUser.isReadAssignedOnly
          .list.list-composer.js-list-composer(class="{{#if isMiniScreen}}mini-list{{/if}}")
            a.open-list-composer.add-element.js-open-add-card-popup(title="{{_ 'add-list'}}")
              i.fa.fa-plus
              i.fa.fa-trello

template(name="moveSwimlanePopup")
  if currentUser
    unless currentUser.isWorker
      label {{_ 'boards'}}:
      select.js-select-boards(autofocus)
        each toBoard in toBoards
          option(value="{{toBoard._id}}") {{toBoard.title}}

      .edit-controls.clearfix
        button.primary.confirm.js-done {{_ 'done'}}

template(name="copySwimlanePopup")
  if currentUser
    unless currentUser.isWorker
      label {{_ 'boards'}}:
      select.js-select-boards(autofocus)
        each toBoard in toBoards
          option(value="{{toBoard._id}}" selected="{{#if $eq toBoard.title board.title}}1{{/if}}") {{toBoard.title}}

      .edit-controls.clearfix
        button.primary.confirm.js-done {{_ 'done'}}
