.datepicker-container {
  form {
    display: flex;
    gap: 0.3lh;
  }
  .fields {
    display: flex;
    justify-content: stretch;
    gap: 1ch;
    .left, .right {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: stretch;
    }
  }
}